/* Global Styles */
:root {
	/* --primary-color: #313131;
	--secondary-color: #838383;
	--dark-color: #1d1d1d;
	--light-color: #f5f5f5;
	--danger-color: #dc3545;
	--success-color: #28a745;
   --shadow-color: rgba(0, 0, 0, 0.3); */

	--primary-color: #313131;
	--secondary-color: rgba(188, 186, 190);
	--dark-color: #1d1d1d;
	--light-color: #f5f5f5;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--shadow-color: rgba(0, 0, 0, 0.3);
	--golden-color: rgb(255, 237, 133);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'EB Garamond', serif;
	font-size: 14px;
	line-height: 1.6;
	background-color: var(--secondary-color);
	color: var(--dark-color);
}

/* Font-size */

.text-small {
	font-size: 14px;
}

.text-normal {
	font-size: 16px;
}

.text-light {
	color: var(--light-color);
}

.text-bold {
	font-weight: bold;
}
.text-large {
	font-size: 20px;
}

.text-center {
	text-align: center;
}

.text-capitalize {
	text-transform: capitalize;
}

.x-large {
	font-size: 40px;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

/* Utilities */
.container {
	max-width: 800px;
	margin: auto;
	overflow: hidden;
	padding: 0 1rem;
}

/* Padding */
.p {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

.py {
	padding: 0.5rem 0;
}

.py-1 {
	padding: 1rem 0;
}

.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

.py-4 {
	padding: 4rem 0;
}

.py-5 {
	padding: 5rem 0;
}

/* Margin */
.m {
	margin: 0.5rem;
}
.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 2rem;
}
.m-3 {
	margin: 3rem;
}

.ml {
	margin-left: 0.5rem;
}

.ml-1 {
	margin-left: 1rem;
}

.ml-2 {
	margin-left: 2rem;
}

.ml-3 {
	margin-left: 3rem;
}

.mr {
	margin-right: 0.5rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.mr-2 {
	margin-right: 2rem;
}

.mr-3 {
	margin-right: 3rem;
}

.my {
	margin: 0.5rem 0;
}

.my-1 {
	margin: 1rem 0;
}

.my-2 {
	margin: 2rem 0;
}

.my-3 {
	margin: 3rem 0;
}

.my-4 {
	margin: 4rem 0;
}

.my-5 {
	margin: 5rem 0;
}

a {
	text-decoration: none;
	padding: 0.4rem;
	border-radius: 5px;
	color: var(--primary-color);
	font-size: 12px;
}

a:hover {
	color: var(--light-color);
}

.btn {
	display: inline-block;
	background: var(--secondary-color);
	box-shadow: 0px 1px 3px 0px var(--shadow-color);
	color: var(--dark-color);
	padding: 0.4rem 0.8rem;
	font-size: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.btn:hover {
	box-shadow: 0px 1px 3px 1px var(--shadow-color);
}

.bg-light,
.badge-light {
	border: #ccc solid 1px;
	border: none;
}

/* Links */

/* Forms */
.form .form-group {
	margin: 1rem 0;
}

.form .form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
	display: block;
	width: 100%;
	padding: 0.5rem;
	font-size: 12px;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 5px;
	background: var(--light-color);
}

.form input[type='file'] {
	font-size: 12px;
	display: block;
}

.form input[type='submit'],
button {
	outline: none;
	border: none;
	border-radius: 5px;
	font: inherit;
}

.fab,
.fa-envelope {
	font-size: 20px;
}

i.fa-twitter {
	color: #38a1f3;
}
i.fa-facebook {
	color: #3b5998;
}
i.fa-instagram {
	color: #3f729b !important;
}
i.fa-youtube {
	color: #c4302b;
}
i.fa-linkedin {
	color: #0077b5 !important;
}

.list-group {
	display: flex;
	font-style: oblique;
}

.list-item {
	margin-left: 5px;
}
